/* Standard Classes */
h1{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 30px 0;
}
h2{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 30px 0;
}
h3{
    text-align: center;
    font-size: 14px;
}
h4{
    font-size: 10px;
}
body{
    background-color: #00a6ad;
}
div{
    background-color: #00a6ad;
}

:root {
    /* Define colours */
    --bellagreen: #00a6ad;
    --maleblue: #232a9c;
    --femalepurple: #603F8B;
    --linecolour: #aeaeae;
    --heartcolour: #b00a62;
}

.masonry {
    column-gap: 20px;
}

.grid {
    max-width: 100%;
    background-color: #fff;
}

.grid-item {
    float: left;
    width: 20%;
    height: 300px;
    background-color: #fff;
}

img {
    max-width: 100%; /* Maximum width is 100% of its container */
    /* max-height: 100%;  Maximum height is 400 pixels */
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
